div#pho {
    background-image: url(images/Gite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 50em;
    box-shadow: 8px 8px 8px black;
    margin: 0%;

}

.text {

    background-color:#226D68;
    line-height: 200%;
    color: black;
    font-size: x-large;
    text-align: center;
    box-shadow: 8px 8px 8px black;
    margin: 0%;
}


.pom {
    background-color:#226D68;
    line-height: 350%;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: xx-large;
    text-align: center;
    box-shadow: 8px 8px 8px black;
    border-radius: 15em;
    -webkit-border-radius: 15em;
    -moz-border-radius: 15em;
    -ms-border-radius: 15em;
    -o-border-radius: 15em;
}



.pom a {
    text-decoration: none;
    color: black;
    transition: 0.85s ease-in-out ;
    -webkit-transition: 0.85s ease-in-out ;
    -moz-transition: 0.85s ease-in-out ;
    -ms-transition: 0.85s ease-in-out ;
    -o-transition: 0.85s ease-in-out ;
}

.poil {
    width: 40%;
    margin-right: 5%;
    float: right;
    box-shadow: 15px 15px 15px black;
    border-radius: 30%;
    margin-bottom: 8%;
    margin-top: -3%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.aba {
    background-color:#226D68;
    line-height: 1.5em;
    text-align: center;
    color: black;
    font-size: x-large;
    margin-right: 60%;
    margin-left: 15%;
    margin-bottom: 15%;
    box-shadow: 15px 15px 15px black;
    margin-top: 15%;
    border-radius: 100%;
    border: 1px solid black;
    white-space: pre;
    max-height: 1%;
    -webkit-border-radius:100% ;
    -moz-border-radius:100%;
    -ms-border-radius:100% ;
    -o-border-radius: 100%;
}

.bouton {
    color:white;
    text-decoration: none;
    background-color:black;
    border: 15px solid black;
    text-align: middle;
    border: 1% solid;
    border-radius: 200px;
    box-shadow: 15px 15px 15px black;
    transition: 0.5s ease-in-out ;
    -webkit-transition: 0.5s ease-in-out ;
    -moz-transition: 0.5s ease-in-out ;
    -ms-transition: 0.5s ease-in-out ;
    -o-transition: 0.5s ease-in-out ;


}

.bouton:hover {
    background-color:#18534F;
    color: black;
    border-color:#18534F;
}

.kota {
    width: 32%;
    float: left;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 8%;
    box-shadow: 15px 15px 15px black;
    border-radius: 50%;
    margin-top: -6%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.kota1 {
    background-color: #226D68;
    line-height: 3em;
    text-align: center;
    color: black;
    font-size: x-large;
    margin-right: 15%;
    margin-left: 62%;
    margin-bottom: 8%;
    box-shadow: 15px 15px 15px black;
    margin-top: 15%;
    border-radius: 100%;
    border: 1px solid ;
    white-space: pre;

}


.gite {
    width: 32%;
    margin-right: 13%;
    float: right;
    box-shadow: 15px 15px 15px black;
    border-radius: 120%;
    margin-top: -12%;
    -webkit-border-radius: 120%;
    -moz-border-radius: 120%;
    -ms-border-radius: 120%;
    -o-border-radius: 120%;
}

.gite1 {
    background-color: #226D68;
    line-height: 2.5em;
    text-align: center;
    color: black;
    font-size: x-large;
    margin-top: 35%;
    margin-right: 55%;
    margin-left: 22%;
    margin-bottom: 6%;
    box-shadow: 15px 15px 15px black;
    border-radius: 100%;
    border: 1px solid ;
    white-space: pre;


}

.pom1 {
    background-color:#226D68;
    line-height: 350%;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 20%;
    margin-top: 25%;
    font-size: xx-large;
    text-align: center;
    box-shadow: 8px 8px 8px black;
    border-radius: 15em;
    -webkit-border-radius: 15em;
    -moz-border-radius: 15em;
    -ms-border-radius: 15em;
    -o-border-radius: 15em;

}

.pom1 a {
    text-decoration: none;
    color: black;
    transition: 0.85s ease-in-out ;
    -webkit-transition: 0.85s ease-in-out ;
    -moz-transition: 0.85s ease-in-out ;
    -ms-transition: 0.85s ease-in-out ;
    -o-transition: 0.85s ease-in-out ;
}


.jac {
    width: 520px;
    height: 400px;
    float: left;
    margin-left: 15%;
    margin-top: -2%;
    margin-bottom: 10%;
    box-shadow: 15px 15px 15px black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.jac1 {
    color: black;
    background-color:  #226D68;
    line-height: 60px;
    text-align: center;
    margin-top: 15%;
    margin-left: 60%;
    margin-right: 16%;
    white-space: pre;
    margin-bottom: 18%;
    box-shadow: 15px 15px 15px black;
    border-radius:  100%;
    border: 1px solid ;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.kot {
    width: 45%;
    margin-right: 10%;
    float: right;
    margin-top: -3%;
    margin-bottom:  8%;
    box-shadow: 15px 15px 15px black;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.kot1 {
    background-color: #226D68;
    border:1px solid ;
    color: black;
    line-height: 70px;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 8%;
    margin-right: 64%;
    margin-left: 12%;
    white-space: pre;
    box-shadow: 15px 15px 15px black;
    border-radius: 50em;


}

.air {
    width: 40%;
    float: left;
    margin-left: 200px;
    margin-top: -3%;
    margin-bottom: 8%;
    box-shadow: 15px 15px 15px black;
    border-radius:30%;
    -webkit-border-radius:30%;
    -moz-border-radius:30%;
    -ms-border-radius:30%;
    -o-border-radius:30%;
}

.air1 {
    background-color:  #226D68;
    color: black;
    border:1px solid ;
    line-height: 70px;
    font-size: 25px;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 8%;
    margin-left: 65%;
    margin-right: 5%;
    white-space: pre;
    box-shadow: 15px 15px 15px black;
    border-radius: 50em;
}

.de {
    background-color:#226D68;
    line-height: 350%;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 5%;
    margin-top: 15%;
    font-size: xx-large;
    text-align: center;
    box-shadow: 15px 15px 15px black;
    border-radius: 15em;
    -webkit-border-radius: 15em;
    -moz-border-radius: 15em;
    -ms-border-radius: 15em;
    -o-border-radius: 15em;
}

.de a {
    text-decoration: none;
    text-align: center;
    color: black;
    transition: 0.5s ease-in-out ;
    -webkit-transition: 0.5s ease-in-out ;
    -moz-transition: 0.5s ease-in-out ;
    -ms-transition: 0.5s ease-in-out ;
    -o-transition: 0.5s ease-in-out ;
}


.nos {
    background-color:#226D68;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 15px 15px 15px black;
}

.voir1 {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 10px solid black;
    margin-left: 200px;
    font-size: 25px;
    margin-bottom: 5em;
    box-shadow: 15px 15px 15px black;
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
}

.voir2 {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 10px solid black;
    margin-left: 350px;
    font-size: 25px;
    margin-bottom: 5em;
    box-shadow: 15px 15px 15px black;
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
}

.voir3 {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 10px solid black;
    margin-left: 380px;
    font-size: 25px;
    margin-bottom: 5em;
    box-shadow: 15px 15px 15px black;
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
}

.voir a:hover {
    background-color:#18534F;
    color:black;
    border-color:#18534F;
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
    transition: 0.85s ease-in-out ;
    -webkit-transition: 0.85s ease-in-out ;
    -moz-transition: 0.85s ease-in-out ;
    -ms-transition: 0.85s ease-in-out ;
    -o-transition: 0.85s ease-in-out ;
}

.foo {
    display: flex;
    margin-top: 5em;
    background-color:#226D68;
    color: black;
    text-decoration: none;
    height: 10em;
    margin-bottom: 0%;
    box-shadow: 15px 15px 15px black;

}

.foo a:hover {
    background-color: black;
    color: #226D68;
    border-color: black;
    transition: 0.85s ease-in-out ;
    -webkit-transition: 0.85s ease-in-out ;
    -moz-transition: 0.85s ease-in-out ;
    -ms-transition: 0.85s ease-in-out ;
    -o-transition: 0.85s ease-in-out ;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}

.foo li {
    list-style-type: none;
    margin-bottom: 0%;
}

.mail {
    display: flex;
    text-decoration: none;
    margin-top: 4em;
    font-size: 20px;
    color: black;
    white-space: pre;

}

.tel {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: black;
    white-space: pre;

}

.fac {
    display: flex;
    color: black;
    white-space: pre;
    font-size: 50px;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 90px;
}

.ins {
    display: flex;
    color: black;
    font-size: 50px;
    text-decoration: none;
    margin-top: 90px;
    white-space: pre;
    white-space: pre;
}

.te {
    display: flex;
    color: black;
    font-size: 50px;
    text-decoration: none;
    margin-top: 90px;
    white-space: pre;
}

.ic {
    display: flex;
    color: black;
    font-size: 50px;
    text-decoration: none;
    margin-top: 90px;
    white-space: pre;
}

.men {
    display: flex;
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-top: 6em;
    margin-left: 10%;

}

.btn {
    display: flex;
    color: black;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 14%;

}
.texte {
    text-align: center;
    font-size: xx-large;
    line-height: 2em;
    margin-left: 12%;
    margin-right: 5%;
    background-color::#226D68;
    color: black;
    font-size: x-large;
    border-radius:1em;
    border: 5px solid black;
    box-shadow: 4px 4px 4px 4px black;
    margin-bottom: 10%;
    -webkit-border-radius:1em;
    -moz-border-radius:1em;
    -ms-border-radius:1em;
    -o-border-radius:1em;
}
form {
    /* Uniquement centrer le formulaire sur la page */
    margin-right:30%;
    margin-left: 38%;
    font-size: x-large;
    width: 400px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
    box-shadow: 4px 4px 4px 4px black;
  }
  
  form div + div {
    margin-top: 1em;
  
  }
  
  label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 120px;

  }
  
  input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
    
  }
  
  input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
    
    
  }
  
  textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
    
  
    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
    
  }
  
  .button {
    /* Pour placer le bouton à la même position que les champs texte */
    margin-right: 20%;
    padding-left: 90px; /* même taille que les étiquettes */

  }
  
