body {
    margin: 0;
    padding: 0;
    background-color: rgb(179, 178, 178);
}

.menu {
    display: flex;
    /* Transformation en flexbox */
    /* Suppression des marges internes */
    background-color: grey;
    /* Ajout de la couleur d'arrière-plan */
    justify-content: center;
    margin-bottom: 5%;
    box-shadow: 2px 2px 2px black;
    width: 100%;


}

.menu a:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.menu li {
    list-style-type: none;
    /*Suppressiondespuces*/float: left;
    color: white;
   
}

.menu a {
    display: block;
    /*Transformationenblock*/min-width: 220px;
    /*Largeurminimaledesliens*/margin: 10px;
    /*Margesexternes(1valeurs=4directions)*/padding: 10px;
    /*Margesinternes(2valeurs=haut/basetgauche/droite)*/text-align: center;
    /*Centragedutexte*/color: rgb(255, 255, 255);
    /*Couleurdutexte*/text-decoration: none;
    /*Suppressiondusoulignement*/font-size: x-large;
    background-color: black;
    border-radius: 80%;
    transition: 0.5s ease-in-out ;
    -webkit-transition: 0.5s ease-in-out ;
    -moz-transition: 0.5s ease-in-out ;
    -ms-transition: 0.5s ease-in-out ;
    -o-transition: 0.5s ease-in-out ;
}
h1 {
    background-color: grey;
    line-height: 300%;
    font-size: xx-large;
    border-radius: 5%;
    color: white;
    margin-bottom: 5%;
    text-align: center;
    box-shadow: 2px 2px 2px black;
    font-family: 'Alkalami', serif;
font-family: 'Heebo', sans-serif;

}