<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./main.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Nos Prestations</title>
</head>
<body>
    <header>
        <div class="menu">
            <ul>

                <li><a href="/page2"> Nos Prestations <span class="material-symbols-outlined">
                            home
                        </span></a></li>

                <li><a href="/page3"> Hébergements Insolites <span class="material-symbols-outlined">
                            bungalow
                        </span>></i></a>
                </li>
                <li><a href="/accueil"> Accueil <span class="material-symbols-outlined">real_estate_agent</span></a></li>
                <li><a href="/page4">Découvrir <i class="fa-solid fa-bell"></i></a></li>
                <li><a href="/page5">Contact <span class="material-symbols-outlined">
                            phone_in_talk_watchface_indicator
                        </span></a></li>
            </ul>
        </div>
        <h1>Nos Prestations</h1>

    </header>
    <article>
        <img src="../images/Jaccuzzi Nordique.jpg " class="jac">
        <h2 class="jac1">
Vivifiant Kota Bain Nordique
À Partir de 80 Euros
<a href="/page9"class="bouton">Réserver</a>
        </h2>
    </article>
    <article>
        <img src="../images/Kota grill.jpg" class="kot">
        <h2 class="kot1">
    Affriolant Kota Grill
    À partir de 20 Euros
    <a href="/page10"class="bouton">Réserver</a>
        </h2>
    </article>
    <article>
        <img src="../images/Aire camping car.jpg" class="air">
        <h2 class="air1">
    Notre Aire De Camping Car
    Tout Confort À Partir De 20 Euro
    <a href="/page11" class="bouton">Réserver</a>
        </h2>
    </article>
    <h3 class="de"><a href="/page4">Découvrez nos bonnes affaires</a></h3>

    <div class="voir">
        <img src="../images/Nos Plus.png" class="nos">
        <a class="voir1" href="/page4">
            Voir l'offre
        </a>
        <a class="voir2" href="/page4">
            Voir l'offre </a>

        <a class="voir3" href="/page4">
            Voir l'offre </a>
    </div>
    <footer>
        <div class="foo">
            <ul>
                <li>
                    <a href="/page5" class="mail">Agitateur@gmail.com</a>
                </li>
                <li><a href="/page5" class="tel">062030099 </li>
            </ul>
            <a href="https://fr-fr.facebook.com/" class="fac"> <i class="fa-brands fa-facebook"> </i> </a>
            <a href="https://www.instagram.com/?hl=fr" class="ins"><i class="fa-brands fa-instagram"> </i>
            </a>
            <a href="/page5" class="ic"> <i class="fa-regular fa-envelope-open"> </i></a>
            <a href="/page5" class="te"> <i class="fa-solid fa-phone"></i> </a>
            <a href="/page5" class="men">Mentions Légales Conditions Générale</li></a>
            <a href="#" class="btn"> <i class="fa-solid fa-arrow-up fa-5x"></i> </a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/e8f7643179.js" crossorigin="anonymous"></script>


</body>
</html>